/BD FINAL Julio 2024
/calculo_variable.py
/connect_sqlite3.py
/import_sqlite3.py
/mi_base_de_datos.db
/tabladinamica.py
/tabladinamica2.py
/tabladinamica3.py
/tabladinamica4.py
/tabladinamica5.py
/tabladinamica6.py
/tabladinamica7.py
/tablaunificada.py
/tablaunificadatotal.py
/tablaunificadatotal2.py
/tablaunificadatotal3.py
/work.db
/work8.db